<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to the "@" icon on the title of the html -->
    <link rel="icon" type="image/gif" href="icons/title.png" />
    <title>eSystem | Autism NS</title>

    <!-- Link to CSS files for styling -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    />

    <!-- Script for importing JQuery -->
    <script src="/scripts/jquery-3.4.1.min.js"></script>

    <!-- Script for importing bootstrap.min.js -->
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/override.js"></script>
    <script src="/scripts/dynamicInterface.js"></script>
  </head>

  <body onload="begin()">
    <!-- Division to hold the body of the page -->
    <div class="container-fluid"><%- body %></div>
  </body>
</html>
